In [101]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [102]:
df = pd.read_csv("dataset.csv")
df.head(5)

,Serial No.,Degree,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,B.Sc,337.0,118.0,4.0,4.5,4.5,9.65,1.0,0.92
1,2,B.Sc,324.0,107.0,4.0,4.0,4.5,8.87,1.0,0.76
2,3,B.Sc,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72
3,4,B.Sc,322.0,110.0,3.0,3.5,2.5,8.67,NaN,0.80
4,5,B.Sc,314.0,103.0,2.0,2.0,3.0,8.21,0.0,NaN

In [103]:
df['degree_new'] = df['Degree'].map({'B.Sc': 1, 'M.Sc': 0})
print(df['degree_new'].value_counts())

degree_new
1.0    224
0.0    175
Name: count, dtype: int64

In [104]:
df.drop('Degree', axis=1, inplace=True)
df.head(10)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,degree_new
0,1,337.0,118.0,4.0,4.5,4.5,9.65,1.0,0.92,1.0
1,2,324.0,107.0,4.0,4.0,4.5,8.87,1.0,0.76,1.0
2,3,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72,1.0
3,4,322.0,110.0,3.0,3.5,2.5,8.67,NaN,0.80,1.0
4,5,314.0,103.0,2.0,2.0,3.0,8.21,0.0,NaN,1.0
5,6,330.0,115.0,5.0,4.5,NaN,NaN,1.0,0.90,1.0
6,7,321.0,109.0,NaN,NaN,4.0,NaN,1.0,0.75,1.0
7,8,308.0,101.0,2.0,3.0,4.0,7.90,0.0,0.68,1.0
8,9,NaN,102.0,1.0,2.0,NaN,8.00,NaN,0.50,1.0
9,10,323.0,108.0,NaN,3.5,NaN,NaN,0.0,0.45,1.0

In [105]:
print(df.columns.tolist())

['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA', 'Research', 'Chance of Admit', 'degree_new']

In [106]:
df.drop('Serial No.', axis=1, inplace=True)
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,degree_new
0,337.0,118.0,4.0,4.5,4.5,9.65,1.0,0.92,1.0
1,324.0,107.0,4.0,4.0,4.5,8.87,1.0,0.76,1.0
2,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72,1.0
3,322.0,110.0,3.0,3.5,2.5,8.67,NaN,0.80,1.0
4,314.0,103.0,2.0,2.0,3.0,8.21,0.0,NaN,1.0

In [107]:
gre_mean = df['GRE Score'].mean()
toefl_mean = df['TOEFL Score'].mean()

In [108]:
df['GRE Score'] = df['GRE Score'].fillna(df['GRE Score'].mean())
df['TOEFL Score'] = df['TOEFL Score'].fillna(df['TOEFL Score'].mean())
df['Chance of Admit'] = df['Chance of Admit'].fillna(df['Chance of Admit'].mean())
df['University Rating'] = df['University Rating'].fillna(df['University Rating'].mean())
df['SOP'] = df['SOP'].fillna(df['SOP'].mean())
df['LOR'] = df['LOR'].fillna(df['LOR'].mean())
df['CGPA'] = df['CGPA'].fillna(df['CGPA'].mean())
df.loc[df['Research'].isna(), 'Research'] = np.random.randint(0, 2, size=df['Research'].isna().sum())
df['degree_new'] = df['degree_new'].fillna(df['degree_new'].mean())
print(df.isnull().sum())

GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
degree_new           0
dtype: int64

In [109]:
df.loc[df['Research'].isna(), 'Research'] = np.random.randint(0, 2, size=df['Research'].isna().sum())
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,degree_new
0,337.0,118.0,4.0,4.5,4.5,9.65,1.0,0.920000,1.0
1,324.0,107.0,4.0,4.0,4.5,8.87,1.0,0.760000,1.0
2,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.720000,1.0
3,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.800000,1.0
4,314.0,103.0,2.0,2.0,3.0,8.21,0.0,0.726364,1.0

In [110]:
print(df.isnull().sum())

GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
degree_new           0
dtype: int64