In [1]:
import sqlite3
import pandas as pd

# Load the CSV file into a pandas DataFrame
df = pd.read_csv('SQL_athlete_events.csv')

# Connect to SQLite database (or create one if it doesn't exist)
conn = sqlite3.connect('olympics.db')
cursor = conn.cursor()

# Write the DataFrame to an SQL table
df.to_sql('olympics', conn, if_exists='replace',index=False)

271116

In [6]:
# SQL query to list all Olympic Games
query_b = '''
SELECT DISTINCT Year, City
FROM olympics
ORDER BY Year;
'''

# Execute the query
cursor.execute(query_b)

# Fetch all results
result_b = cursor.fetchall()

# Print the results
print("List of all Olympic Games:")
for row in result_b:
    print(f"{row[0]} - {row[1]}")

List of all Olympic Games:
1896 - Athina
1900 - Paris
1904 - St. Louis
1906 - Athina
1908 - London
1912 - Stockholm
1920 - Antwerpen
1924 - Paris
1924 - Chamonix
1928 - Amsterdam
1928 - Sankt Moritz
1932 - Los Angeles
1932 - Lake Placid
1936 - Berlin
1936 - Garmisch-Partenkirchen
1948 - London
1948 - Sankt Moritz
1952 - Helsinki
1952 - Oslo
1956 - Cortina d'Ampezzo
1956 - Melbourne
1956 - Stockholm
1960 - Squaw Valley
1960 - Roma
1964 - Innsbruck
1964 - Tokyo
1968 - Mexico City
1968 - Grenoble
1972 - Munich
1972 - Sapporo
1976 - Montreal
1976 - Innsbruck
1980 - Lake Placid
1980 - Moskva
1984 - Sarajevo
1984 - Los Angeles
1988 - Calgary
1988 - Seoul
1992 - Barcelona
1992 - Albertville
1994 - Lillehammer
1996 - Atlanta
1998 - Nagano
2000 - Sydney
2002 - Salt Lake City
2004 - Athina
2006 - Torino
2008 - Beijing
2010 - Vancouver
2012 - London
2014 - Sochi
2016 - Rio de Janeiro

In [3]:
# SQL query to find Olympic Games with the highest and lowest participating countries
query_c = '''
SELECT Year, City, COUNT(DISTINCT NOC) AS num_participating_countries
FROM olympics
GROUP BY Year, City
ORDER BY num_participating_countries DESC;
'''

# Execute the query
cursor.execute(query_c)

# Fetch all results
result_c = cursor.fetchall()

# Print the results
print("Olympic Games with highest and lowest participating countries:")
for row in result_c:
    print(f"{row[0]} - {row[1]}: {row[2]} countries")

Olympic Games with highest and lowest participating countries:
2016 - Rio de Janeiro: 207 countries
2012 - London: 205 countries
2008 - Beijing: 204 countries
2004 - Athina: 201 countries
2000 - Sydney: 200 countries
1996 - Atlanta: 197 countries
1992 - Barcelona: 169 countries
1988 - Seoul: 159 countries
1984 - Los Angeles: 140 countries
1972 - Munich: 121 countries
1968 - Mexico City: 112 countries
1964 - Tokyo: 93 countries
1976 - Montreal: 92 countries
2014 - Sochi: 89 countries
1960 - Roma: 84 countries
2010 - Vancouver: 82 countries
1980 - Moskva: 80 countries
2006 - Torino: 79 countries
2002 - Salt Lake City: 77 countries
1998 - Nagano: 72 countries
1952 - Helsinki: 69 countries
1956 - Melbourne: 67 countries
1994 - Lillehammer: 67 countries
1992 - Albertville: 64 countries
1948 - London: 59 countries
1988 - Calgary: 57 countries
1936 - Berlin: 49 countries
1984 - Sarajevo: 49 countries
1932 - Los Angeles: 47 countries
1928 - Amsterdam: 46 countries
1924 - Paris: 45 countries
1968 - Grenoble: 37 countries
1976 - Innsbruck: 37 countries
1980 - Lake Placid: 37 countries
1964 - Innsbruck: 36 countries
1972 - Sapporo: 35 countries
1956 - Cortina d'Ampezzo: 32 countries
1900 - Paris: 31 countries
1952 - Oslo: 30 countries
1960 - Squaw Valley: 30 countries
1912 - Stockholm: 29 countries
1920 - Antwerpen: 29 countries
1956 - Stockholm: 29 countries
1936 - Garmisch-Partenkirchen: 28 countries
1948 - Sankt Moritz: 28 countries
1928 - Sankt Moritz: 25 countries
1908 - London: 22 countries
1906 - Athina: 21 countries
1924 - Chamonix: 19 countries
1932 - Lake Placid: 17 countries
1904 - St. Louis: 15 countries
1896 - Athina: 12 countries

In [4]:
# SQL query to find sports that have been part of every Olympics
query_d = '''
SELECT Event, COUNT(DISTINCT Year) AS num_appearances
FROM olympics
GROUP BY Event
HAVING num_appearances = (SELECT COUNT(DISTINCT Year) FROM olympics);
'''

# Execute the query
cursor.execute(query_d)

# Fetch all results
result_d = cursor.fetchall()

# Print the results
print("Sports which have been part of every Olympics:")
for row in result_d:
    print(f"{row[0]}")

Sports which have been part of every Olympics: